.header {
    text-align: center;
    color: #F1EDF1;
    margin-left: 0;
}
body {
    background-color:#4C5BA2 ;
}

.container {

}
.subheader {
    text-align: center;
    color: #F1EDF1;
}

.form-group {
    text-align: center;
}

p {
    text-align: center;
    color: #F1EDF1;
    margin-bottom: 5px;


}


li {
    display: block;
    text-align: center;
    color: #F1EDF1;
}
a {
    text-align: center;
line-height: 28px;
    color: #F1EDF1;
}

h1 {
    text-align: center;
    color: #F1EDF1;
}

button {
    padding-left: 50px;
}